*.[ao]
*.cxx_parameters
*.kate-swp
*.kdev4
*.so
*.swo
*.swp
*/CMakeFiles
*__*
*qrc_launcher.cxx
*qrc_resources.cxx
*ui_datafilespage.h
*ui_graphicspage.h
*ui_mainwindow.h
*ui_playpage.h
*~
.cproject
.directory
.idea
.project
.settings
.vs
.vscode
/*.cfg
/*.desktop
/*.install
/MSVC*
/bsatool
/deps
/esmtool
/niftest
/opencs
/openmw
/openmw-cs
/openmw-essimporter
/openmw-iniimporter
/openmw-launcher
/openmw-wizard
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user*
Doxygen
Makefile
apps/launcher/ui_contentselector.h
apps/launcher/ui_settingspage.h
apps/opencs/ui_contentselector.h
apps/opencs/ui_filedialog.h
apps/openmw/config.hpp
apps/wizard/qrc_wizard.cxx
apps/wizard/ui_componentselectionpage.h
apps/wizard/ui_conclusionpage.h
apps/wizard/ui_existinginstallationpage.h
apps/wizard/ui_importpage.h
apps/wizard/ui_installationpage.h
apps/wizard/ui_installationtargetpage.h
apps/wizard/ui_intropage.h
apps/wizard/ui_languageselectionpage.h
apps/wizard/ui_methodselectionpage.h
build*/
builderoo/
cmake-build-*
cmake_install.cmake
components/ui_contentselector.h
data
docs/Doxyfile
docs/DoxyfilePages
docs/mainpage.hpp
files/windows/*.aps
makefile
moc_*.cxx
prebuilt
resources
venv/
